<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>yandexApiKey</key>
	<string>b0047eb3-5f02-4d61-9eec-32bbe58ed3bf</string>
	<key>googleApiKey</key>
	<string>AIzaSyDOaiRTglZiVGsdvOq1hgK4wGKRhqdQRMY</string>
</dict>
</plist>
